body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom,brown,sienna);
    color: #fff;
    text-align:center;
}
header{
    background:  rosybrown;
    padding: 20px;
}
header h1 {
    margin: 0;
    font-size: 2rem;
}
#search input{
    padding: 10px;
    font-size: 1rem;
    width: 250px;
}

#search button{
    padding: 10px;
    font-size: 1rem;
    background: #0078d4;
    color: #fff;
    border: none;
    cursor: pointer;
}
footer{
    background:rosybrown);
    padding: 10px;
    font-size: 0.8rem;
    position:sticky;
    bottom: 0%;
}